<div class="search-container">
  <%= text_field_tag "review_option_type_#{option_type.id}", @review_option_filter.value(option_type.id), placeholder: t('reviews.top_menu.input_search_text'), class: 'input-review-option-search' %>
  <a class="link-search sprites-search"></a>
</div>