.pinksisly_com_mobile_product_review_top {
  height: 26px;
  line-height: 26px;
  position: relative;
  padding: 8px 0 10px 0;
  box-sizing: content-box;
}

.pinksisly_com_mobile_product_review_top .star-rating-container {
  display: inline-block;
}

.pinksisly_com_mobile_product_review_top .review_tag {
  position: static;
  display: inline-block;
}
