.product_button_area__button {
  padding: 12px 8px;
  background: rgba(0,0,0,0.85);
  color: #fff;
  text-align: center;
  margin: 2px 13px 6px 13px;
}

.product_button_area__button--review {
  background: rgb(250,82,178);
  color: #fff;
}
