@import "../../lib/common";

.review-options {
  font-size: 12px;
  border: 1px solid #dadada;
  padding: 15px;
  margin-bottom: 18px;
  margin-right: 30px;
  max-width: 800px;

  .review-option {
    @include clearfix_left;

    margin-top: 4px;
    color: #494949;

    &.first {
      margin-top: 0;
    }

    .option-key {
      margin-left: 12px;
      color: #bbb;
    }

    .first-option .option-key {
      margin-left: 0;
    }

    .option-value {
      margin-left: 4px;
    }

    .review-option-title {
      float: left;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .review-option-content {
      float: left;
      color: #777;

      // IE7 needs a little margin to keep in single line
      body.ie-7 & {
        width: 84%;
      }
    }
  }
}
