@import "../lib/common";

.pinksisly_com_pc_review_submit_button {
  width: 200px;
}

.pinksisly_com_pc_selfie {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  margin-top: 15px;
}

.pinksisly_com_pc_selfie__image {
  width: 148px;
  height: 43px;
}
