@import "../../lib/common";

body.products.reviews {
  #content {
    padding-top: $mobile-topbar-height;
  }
  
  .panel {
    width: 30%; 
    padding: 15px; margin: 0 auto; 
    background: rgba(0,0,0,0.85);
    color: #fff;
    text-align: center;
  }

  .product {
    margin-top: 11px;
  }

  li.review {
    .l-contents.image {
      padding-right: 10px;
    }

    .panel-review {
      .message {
        white-space: normal;
        max-height: 34px;
      }
      
      .star-wrap {
        margin-bottom: 6px;
      }
    }
  }
}
